!!! 5
html
  head
    meta(charset='utf-8')
    title omfgBIEBERRRRRRRRRRRRRRR
    //- CSS
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/bieber.css')
  body
    header
      video(src="img/biebervom.mp4", autoplay, id="background-video", loop="loop")
        p Sorry, your browser doesn't support the video tag! You're missing out, bro. 
        p To avoid FOMO, please consider upgrading to a browser that doesn't totally blow!
    #container
      #tweet-border
        #control-wrapper
          #control.playing
            .control-image
            p#control-info press p
        #tweet-wrapper
          ul#tweets
    footer by&nbsp;&nbsp;<a href="http://willmayner.com/" target="_blank">Will Mayner</a>
        
  //- JS
  script(type='text/javascript', src='js/jquery-1.9.1.min.js')
  script(type='text/javascript', src='js/bieber.js')
